<!DOCTYPE html>
<html lang="en" style="height: calc(100% - 66px);" ng-app="app">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dématérialisation</title>

    <!-- CSS -->

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css"> -->
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- CSS -->

    <script src="https://unpkg.com/popper.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="assets/js/files.repository.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>


    <style>
        .swal2-show {
            min-height: 250px;
        }

        .input_group_ever {
            background: #00ae8d;
            border: 1px solid #00ae8d;
            color: #fff;
            border-radius: 0px 8px 8px 0px;
            padding-left: 15px;
            padding-right: 15px;
        }

        /* .dropdown-menu.show {
            display: block;
            top: 7px !important;
            left: -75px !important;
        } */

        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropbtn:hover,
        .dropbtn:focus {
            background-color: #3e8e41;
        }

        #myInput {
            box-sizing: border-box;
            background-image: url('searchicon.png');
            background-position: 14px 12px;
            background-repeat: no-repeat;
            font-size: 16px;
            padding: 14px 20px 12px 45px;
            border: none;
            border-bottom: 1px solid #ddd;
        }

        #myInput:focus {
            outline: 3px solid #ddd;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f6f6f6;
            min-width: 230px;
            overflow: auto;
            border: 1px solid #ddd;
            z-index: 1;
        }

        .dropdown-content {
            margin-top: 8px;
            margin-left: -260px;
            width: 300px;
        }


        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }

        #filterDropdown {
            border-radius: 5px;
        }

        #filterDropdown .box {
            background: #f4f6f9;
            padding: 20px 30px;
        }

        table thead tr th {
            padding-bottom: 15px;
            border-bottom: 1px solid #f4f6f9;
            color: #b5b5c3;
        }

        table tbody tr td {
            padding-bottom: 10px;
            padding-top: 10px;
        }

        table tbody tr:not(:last-child) {
            border-bottom: 1px solid #e5e8ec;
        }

        table tbody tr td {
            color: #262626;
        }

        .pagination_icon {
            color: #a09494;
            font-size: 17px;
        }

        .bg_ever {
            background-color: #00ae8d;
            color: #fff;
        }
    </style>

</head>

<body ng-controller="ctrl">

    <div class="page_container">

        <!-- CONTENT -->
        <div class="page_content">

            <!-- TOOLBAR -->
            <div class="toolbar_container v2">

                <div class="breadcrumb_text">
                    <a href="index.html">
                        <i class="fa fa-arrow-left mr-2 pointer" style="font-size: 18px;"></i>
                    </a>
                    Liste des documents
                </div>
                <div class="toolbar_right">
                    <div class="profile_details">
                        <div class="profile_name">Sebastien Akl</div>
                        <div class="profile_status">Comptable</div>
                    </div>
                    <span class="profile_badge">
                        <span class="badge_char">S</span>
                    </span>
                </div>
            </div>
            <!-- / TOOLBAR -->

            <div class="page_body">

                <!-- ROW 1 -->
                <div class="row">
                    <div class="col-12">
                        <div class="panel panel-flat">
                            <div class="panel_heading">
                                <div class="flex f_j_spacebetween">
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input checkbox_v1 mr-3" type="checkbox" id="inlineCheckbox1" value="option1">
                                            <label class="form-check-label text-secondary" for="inlineCheckbox1">Select All</label>
                                        </div>
                                    </div>

                                    <div class="flex">
                                        <div class="input-group mr-3">
                                            <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <span class="input-group-text input_group_ever" id="basic-addon2">
                                                    <i class="fa fa-search"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="dropleft">
                                            <div class="dropdown">
                                                <!-- <i class="fa fa-sliders filter_icon pointer" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i> -->
                                                <i class="fa fa-sliders filter_icon pointer" onclick="myFunction()" class="dropbtn"></i>

                                                <div id="filterDropdown" class="dropdown-content">
                                                    <div class="box flex flex_column p-20">
                                                        <div class="mb-3"><strong>Filters</strong></div>
                                                        <div>
                                                            <div class="form-group">
                                                                <select class="form-control" placeholder="Sélectionner le type">
                                                                    <option>Sélectionner le type</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <select class="form-control" placeholder="Sélectionner le statut">
                                                                    <option>Sélectionner le statut</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="text-right">
                                                            <button type="button" class="btn btn-outline-success btn_border_secondary mr-2" onclick="myFunction()">Réinitialiser</button>
                                                            <button type="button" class="btn btn_ever" onclick="myFunction()">Filter</button>
                                                        </div>
                                                    </div>

                                                </div>

                                                <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenu2" aria-expanded="false">
                                                    <div style="height: 200px;">

                                                    </div>
                                                </div> -->
                                            </div>
                                            <!-- <i class="fa fa-sliders filter_icon"></i> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel_body">

                                <div>
                                    <table class="mb-5" style="width: 100%;">
                                        <thead>
                                            <th style="width: 30px;"></th>
                                            <th>DOCUMENT</th>
                                            <th>TYPE</th>
                                            <th>EMPLACEMENT</th>
                                            <th>CRÉÉ PAR</th>
                                            <th>VALIDER PAR</th>
                                            <th>DATE DE CRÉATION</th>
                                            <th>STATUS</th>
                                            <th style="width: 30px;"></th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="file in files">
                                                <td>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input checkbox_v1" type="checkbox">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="flex flex_column">
                                                        <div><strong class="text_ever font_15">
                                                                <a href="viewer_1.html?file_id={{file.id}}">
                                                                    {{file.filename || 'Facture 1.pdf'}}
                                                                </a>
                                                            </strong>
                                                        </div>
                                                        <div class="text-muted font_13">Nb. de pages {{file.pages || "1"}}</div>
                                                    </div>
                                                </td>
                                                <td><strong>Type 1</strong></td>
                                                <td>
                                                    <strong>Dossier 1/Dossier 1.2/Dossier 1.3/Dossier 1.4</strong>
                                                </td>
                                                <td>
                                                    <strong>Nom</strong>
                                                </td>
                                                <td><strong>-</strong></td>
                                                <td>
                                                    <strong>
                                                        {{file.date | date}}
                                                    </strong>
                                                </td>
                                                <td>
                                                    <div class="document_pending"
                                                        ng-class="{'document_danger': file.status == 'Erreur','document_pending': file.status == 'Attend validation','document_success': file.status == 'Valider', }"
                                                    >{{file.status}}</div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <div class="badge_square bg-grey-100 pointer" data-toggle="modal" data-target="#delete_modal" ng-click="selectFile(file.id)">
                                                            <i class="fa fa-trash text-secondary" style="font-size:18px;"></i>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input checkbox_v1" type="checkbox">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="flex flex_column">
                                                        <div><strong class="text_ever font_15" onclick="navigateTo('invoice_2.html')">Facture 2.pdf</strong></div>
                                                        <div class="text-muted font_13">Nb. de pages 1</div>
                                                    </div>
                                                </td>
                                                <td><strong>Type 1</strong></td>
                                                <td>
                                                    <strong>Dossier 1/Dossier 1.2/Dossier 1.3/Dossier 1.4</strong>
                                                </td>
                                                <td>
                                                    <strong>Nom</strong>
                                                </td>
                                                <td><strong>-</strong></td>
                                                <td>
                                                    <strong>
                                                        09/06/2020
                                                        12:24:00
                                                    </strong>
                                                </td>
                                                <td>
                                                    <div class="document_danger">Erreur</div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <div class="badge_square bg-grey-100 pointer" data-toggle="modal" data-target="#delete_modal">
                                                            <i class="fa fa-trash text-secondary" style="font-size:18px;"></i>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input checkbox_v1" type="checkbox">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="flex flex_column">
                                                        <div><strong class="text_ever font_15" onclick="navigateTo('invoice_2.html')">Letter.dox</strong></div>
                                                        <div class="text-muted font_13">Nb. de pages 2</div>
                                                    </div>
                                                </td>
                                                <td><strong>Type 1</strong></td>
                                                <td>
                                                    <strong>Dossier 1/Dossier 1.2/Dossier 1.3/Dossier 1.4</strong>
                                                </td>
                                                <td>
                                                    <strong>Nom</strong>
                                                </td>
                                                <td><strong>-</strong></td>
                                                <td>
                                                    <strong>
                                                        10/08/2020
                                                        15:10:00
                                                    </strong>
                                                </td>
                                                <td>
                                                    <div class="document_pending">Attend validation</div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <div class="badge_square bg-grey-100 pointer" data-toggle="modal" data-target="#delete_modal">
                                                            <i class="fa fa-trash text-secondary" style="font-size:18px;"></i>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input checkbox_v1" type="checkbox">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="flex flex_column">
                                                        <div><strong class="text_ever font_15" onclick="navigateTo('viewer_1.html')">Facture 3.pdf</strong></div>
                                                        <div class="text-muted font_13">Nb. de pages 2</div>
                                                    </div>
                                                </td>
                                                <td><strong>Type 1</strong></td>
                                                <td>
                                                    <strong>Dossier 1/Dossier 1.2/Dossier 1.3/Dossier 1.4</strong>
                                                </td>
                                                <td>
                                                    <strong>Nom</strong>
                                                </td>
                                                <td><strong>Nom</strong></td>
                                                <td>
                                                    <strong>
                                                        10/08/2020
                                                        15:10:00
                                                    </strong>
                                                </td>
                                                <td>
                                                    <div class="document_success">Valider</div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <div class="badge_square bg-grey-100 pointer" data-toggle="modal" data-target="#delete_modal">
                                                            <i class="fa fa-trash text-secondary" style="font-size:18px;"></i>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr> -->
                                        </tbody>

                                    </table>

                                    <div class="flex f_a_center f_j_spacebetween">
                                        <div class="flex f_a_center">
                                            <div class="badge_square bg-grey-100 mr-2 text-center pagination_icon"><i class="fa fa-angle-double-left"></i></div>
                                            <div class="badge_square bg-grey-100 mr-2 text-center pagination_icon"><i class="fa fa-angle-left"></i></div>
                                            <div class="badge_square bg-grey-100 mr-2 text-center pagination_icon bg_ever">1</div>
                                            <div class="badge_square bg-grey-100 mr-2 text-center pagination_icon"><i class="fa fa-angle-right"></i></div>
                                            <div class="badge_square bg-grey-100 mr-2 text-center pagination_icon"><i class="fa fa-angle-double-right"></i></div>
                                        </div>
                                        <div class="flex f_a_center">
                                            <div class="mr-4">
                                                <select class="form-control" placeholder="10" style="height: 32px;border:none; background: #f4f6f9;">
                                                    <option>10</option>
                                                </select>
                                            </div>
                                            <div class="text-muted">
                                                Montrant 1 - 4 de 4
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ROW 2 -->


            </div>
            <!-- / CONTENT -->



        </div>
    </div>

    <footer class="footer_control f_j_right">
        <div class="flex f_a_center">
            <button type="button" class="btn btn-outline-success btn_border_secondary mr-2">Jeter</button>
            <button type="button" class="btn btn_ever" onclick="save()">Classifier</button>
        </div>
    </footer>



    <!-- DELETE -->
    <div id="delete_modal" class="modal fade" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header header_bg_default">
                    <h6 class="modal-title">Supprimer le document</h6>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <div class="modal-body">
                    <div>
                        Etes vous sure que vous voulez supprimer le document?
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn_border_secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn_ever" data-dismiss="modal" ng-click="delete()">Suprimer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- DELETE -->

    <!-- PUBLISH -->
    <div id="delete_modal" class="modal fade" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header header_bg_default">
                    <h6 class="modal-title">Publier</h6>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <div class="modal-body">
                    <div>
                        Seuls les documents validés seront publiés.
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn_border_secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn_ever" data-dismiss="modal">Publier</button>
                </div>
            </div>
        </div>
    </div>
    <!-- PUBLISH -->

    <script>

        function navigateTo(url, q) {
            console.log(q);
            window.location.href = url
        }

        function myFunction() {
            document.getElementById("filterDropdown").classList.toggle("show");
        }


        function save() {
            Swal.fire({
                title: '',
                html:
                    `<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                        <br>
                        <br>
                        Votre documents sont entrain d’être classer`,
                showCloseButton: false,
                showCancelButton: false,
                focusConfirm: false,
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 3500
                // confirmButtonText:
                //     '<i class="fa fa-thumbs-up"></i> Great!',
                // confirmButtonAriaLabel: 'Thumbs up, great!',
                // cancelButtonText:
                //     '<i class="fa fa-thumbs-down"></i>',
                // cancelButtonAriaLabel: 'Thumbs down'
            }).then(function () {
                console.log("asd")
                window.location.href = 'documents.html'
            })
        }

        $(document).ready(function () {
            $('#dropdownMenu2').dropdown('toggle');

        })
    </script>

    <script>
        var app = angular.module("app", []);
        app.controller("ctrl", function ($scope) {
            $scope.files = []
            $scope.selectedFile = null;

            $scope.loadFiles = function () {
                $scope.files = getFiles()
            }

            $scope.selectFile = function (id) {
                $scope.selectedFile = id;
            }

            $scope.delete = function () {
                console.log($scope.selectedFile);

                deleteFile($scope.selectedFile);

                $scope.loadFiles();
            }

            $scope.loadFiles()
        });
    </script>
</body>

</html>